body {
    background: url(https://p0.zoon.ru/preview/9urWXwOPQ3JHBY6TZeucYA/1920x1080x75/1/3/8/original_5105e540a0f3028608000003_5583ba7bc2166.jpg) no-repeat center center fixed;
    background-size: cover;
}

div {
    position: static;
    top: 20%;
    left: 10%;
    right: 10%;
    width: 100%;
    height: 90%;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration-line:  none;
}
a:link:hover {
    color: aqua;
}
a:visited:hover {
    color:darkorange;
}