body {
    background: url(images/bg_picture.jpg) no-repeat center center fixed;
    background-size: cover;
}

div {
    width: 100%;    
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    text-align: center;    
    position: fixed;
    top: 20%;    
}

a {
    text-decoration-line:  none;
}
a:link:hover {
    color: aqua;
}
a:visited:hover {
    color:darkorange;
}